/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .sidebar {
    width: 70%;
    position: absolute;
    display: none;
  }
  main {
    width: 100%;
  }
  .profile {
    display: none;
  }
  header .right .menu {
    display: block;
  }
  header .right .menu i {
    background-color: #f6981e;
    padding: 2px 5px;
    border-radius: 4px;
    font-size: 30px;
  }
  header {
    padding: 10px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
