body {
  margin: 0;
  display: flex;
  flex-direction: row;
}
.logo img {
  width: 150px;
}
header .avatar {
  width: 50px;
  border-radius: 50%;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #16283c;
}

main {
  width: 75%;
}

.profile {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  background-color: #fe5722;
  color: white;
  padding: 5px 15px;
  column-gap: 20px;
}

footer {
}
.icons {
  display: flex;
  flex-direction: row;
  column-gap: 15px;
  font-size: 25px;
}
.icons i {
  color: #fff;
}
header .right {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  column-gap: 20px;
}
.sidebar {
  display: flex;
  flex-direction: column;
  width: 25%;
  background-color: #16283c;
  min-height: 100vh;
}
.sidebar .avatar {
  display: flex;
  flex-direction: row;
  column-gap: 15px;
  align-items: center;
  padding: 10px;
  background-color: #204162;
}
.sidebar .avatar img {
  width: 75px;
  border-radius: 50%;
}

.sidebar .avatar .name {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}

.sidebar .avatar .name strong {
  color: #fff;
}
.sidebar .avatar .name span {
  color: #38aa93;
}
.sidebar > strong {
  color: #fff;
  padding: 25px;
  border-bottom: solid 2px #fe5722;
  margin-bottom: 10px;
}

.sidebar nav {
}
.sidebar nav > ul {
  list-style: none;
  color: #fff;
  margin: 0;
  padding-left: 20px;
}

.sidebar nav > ul > li {
  padding: 10px;
  font-size: 18px;
  display: flex;
  align-items: center;
}
.sidebar nav > ul > li > a {
  color: white;
  text-decoration: none;
}
.sidebar nav > ul > li::before {
  font-family: "Material Design Icons";
  font-size: 18px;
  margin-right: 10px;
}
.sidebar nav > ul > li:nth-child(1):before {
  content: "\F029A";
  color: #ff9500;
}
.sidebar nav > ul > li:nth-child(2):before {
  content: "\F072C";
  color: #e34b26;
}
.sidebar nav > ul > li:nth-child(3):before {
  content: "\F0003";
  color: #593ea9;
}
.sidebar nav > ul > li:nth-child(4):before {
  content: "\F04EB";
  color: #a129b1;
}
.sidebar nav > ul > li:nth-child(5):before {
  content: "\F003B";
  color: #0590d5;
}
.sidebar nav > ul > li:nth-child(6):before {
  content: "\F1494";
  color: #3991db;
}
.sidebar nav > ul > li:nth-child(7):before {
  content: "\F06CB";
  color: #ef1c63;
}
.sidebar nav > ul > li:nth-child(8):before {
  content: "\F06FE";
  color: #f4971e;
}
.sidebar nav > ul > li:nth-child(9):before {
  content: "\F034D";
  color: #a029b7;
}
.sidebar nav > ul > li:nth-child(10):before {
  content: "\F0128";
  color: #139992;
}
.sidebar nav > ul > li:nth-child(11):before {
  content: "\F0493";
  color: #f6981e;
}
.sidebar nav > ul > li.drop-down {
  position: relative;
}
.sidebar nav > ul > li.drop-down ul {
  list-style: none;
  position: absolute;
  right: -110px;
  background-color: #204162;
  padding: 20px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  top: 0px;
  width: 150px;
  border-radius: 8px;
  display: none;
}

.sidebar nav > ul > li.drop-down ul li {
}
.sidebar nav > ul > li.drop-down:hover ul {
  display: block;
}
header .right .menu {
  display: none;
}
.sidebar nav > ul > li.drop-down-2 {
  flex-direction: column;
  align-items: flex-start;
  padding-left: 36px;
}
.sidebar nav > ul > li.drop-down-2 ul {
  display: flex;
  justify-content: space-between;
  flex-shrink: 0;
  flex-direction: column;
  margin: 0 0 0 -55px;
  padding: 0;
  list-style: none;
  row-gap: 10px;
  background-color: #204162;
  width: 247px;
  max-height: 0;
  overflow: hidden;
}
.sidebar nav > ul > li.drop-down-2 ul li {
  padding: 0px 0 15px 70px;
  border-bottom: solid 1px #16283c;
}
.sidebar nav > ul > li.drop-down-2.open ul li:first-child {
  padding-top: 10px;
}
.sidebar nav > ul > li.drop-down-2.open ul {
  max-height: 100%;
  margin-top: 15px;
}
.sidebar nav li {
  cursor: pointer;
}
.sidebar nav > ul > li.drop-down-2::before {
  margin: 0 0 -20px -26px;
}
main > div {
  padding: 20px;
}
main > div h1 {
  border-bottom: solid 2px #fe5722;
}
main > div table {
  width: 100%;
}
main > div table thead {
  background-color: #fe57221c;
}
main > div table thead tr {
}
main > div table thead tr th {
  padding: 10px;
}
main > div table tbody {
}
main > div table tbody tr {
}
main > div table tbody tr td {
  padding: 10px;
  text-align: center;
}
.modal,
.edit-modal {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  display: none;
  align-items: center;
  justify-content: center;
}

.modal > .form,
.edit-modal > .form {
  display: flex;
  width: 300px;
  background-color: #fff;
  padding: 25px;
  border-radius: 16px;
  flex-direction: column;
  align-items: center;
  row-gap: 15px;
  position: relative;
}

.modal > .form input,
.edit-modal > .form input {
  font-size: 16px;
  padding: 8px 16px;
  border-radius: 8px;
}
.modal > .form input[type="text"],
.edit-modal > .form input[type="text"] {
  border: solid 1px #bbb;
  font-size: 14px;
}

.modal > .form input[type="button"],
.edit-modal > .form input[type="button"] {
  background-color: #fe5722;
  color: #fff;
  border: none;
  padding: 16px 32px;
  cursor: pointer;
}
.mdi-close {
  position: absolute;
  right: 15px;
  top: 15px;
  color: red;
  font-size: 20px;
  cursor: pointer;
}
main > div > button,
.top-inputs > button {
  color: #16283c;
  font-size: 17px;
  background-color: #fe5722;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  padding: 10px;
  margin: 10px 1px 13px 1px;
}
#users .mdi-delete {
  color: red;
  cursor: pointer;
}
#users .mdi-account-edit {
  color: #0590d5;
  cursor: pointer;
}
.loading {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgb(8, 49, 66);
  display: none;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 24px;
  z-index: 10000;
  opacity: 0.8;
}
.top-inputs {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  align-items: center;
}

.top-inputs input {
  height: 30px;
  border-radius: 8px;
  border: solid 1px #bbb;
  padding: 5px;
  width: 300px;
}
